.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    grid-auto-rows: minmax(400px, auto);
  }
  .card {
      display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 5fr;
        background-color: aquamarine;
        font-size: 15px;
  }
  