body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    gap: 100px;
    grid-auto-rows: minmax(400px, auto);
  }
  .card {
        display: flex;
        flex-direction: column;
        background-color: aquamarine;
        min-width: 30;
  }
img{
  margin: auto;
}
 .idTypeDiv{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
 }
  .backround__red {
    background-color: red;
  }

  /* pokemon type colors */
.normal {
  background-color: #9a9e80;
}
.fire {
  background-color: #e98729 ;
}
.fighting {
  background-color: #c92112;
}
.water {
  background-color: #7891eb;
}
.flying {
  background-color: #b39ad8;
}
.grass {
  background-color: #82d979;
}
.poison {
  background-color: #ad3da4;
}
.electric {
  background-color: #ffec52;
}
.ground {
  background-color: #e5ce75;
}
.psychic {
  background-color: #f54878;
}
.rock {
  background-color: #b4964e;
}
.ice {
  background-color: #afe6df;
}
.bug {
  background-color: #c1d69a;
}
.dragon {
  background-color: #5a49ff;
}
.ghost {
  background-color: #6d529a;
}
.dark {
  background-color: #634f38;
}
.steel {
  background-color: #bab3c9;
}
.fairy {
  background-color: #f7abcc;
}